$basicOne: red;
$basicTwo: green;
$basicThree: blue;
$basicLightOne: lightblue;
$basicLightTwo: lightgreen;
$basicLightThree: rgb(151, 218, 218);
$basicLightFour: lightgrey;

$sucsessColorOne: lightgreen;
$sucsessColorTwo: green;
$errorColorOne: rgb(233, 95, 95);
$errorColorTwo: rgb(197, 2, 2);
